In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
athlete_events = pd.read_csv('athlete_events.csv')

In [3]:
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
filter_data = athlete_events[["Sex", "Age", "Height", "Weight", "Team", "Year", "Season", "Sport", "Event", "Medal"]]

In [5]:
filter_data.head()

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
0,M,24.0,180.0,80.0,China,1992,Summer,Basketball,Basketball Men's Basketball,NaN
1,M,23.0,170.0,60.0,China,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN
2,M,24.0,NaN,NaN,Denmark,1920,Summer,Football,Football Men's Football,NaN
3,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,F,21.0,185.0,82.0,Netherlands,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
winter_data = filter_data[filter_data["Season"] == "Winter"]
winter_data.head()

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
4,F,21.0,185.0,82.0,Netherlands,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
5,F,21.0,185.0,82.0,Netherlands,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,F,25.0,185.0,82.0,Netherlands,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
7,F,25.0,185.0,82.0,Netherlands,1992,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,F,27.0,185.0,82.0,Netherlands,1994,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN

In [7]:
summer_data = filter_data[(filter_data["Season"] == "Summer")]
summer_data

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
0,M,24.0,180.0,80.0,China,1992,Summer,Basketball,Basketball Men's Basketball,NaN
1,M,23.0,170.0,60.0,China,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN
2,M,24.0,NaN,NaN,Denmark,1920,Summer,Football,Football Men's Football,NaN
3,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,F,18.0,168.0,NaN,Netherlands,1932,Summer,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...
271106,M,27.0,168.0,76.0,Argentina,2004,Summer,Hockey,Hockey Men's Hockey,NaN
271107,M,21.0,175.0,75.0,United States,1972,Summer,Football,Football Men's Football,NaN
271108,M,24.0,183.0,72.0,Russia,2000,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,M,28.0,183.0,72.0,Russia,2004,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,F,33.0,171.0,69.0,Belarus,2016,Summer,Basketball,Basketball Women's Basketball,NaN

In [8]:
summer_data["Sport"].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
       'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
       'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
       'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism',
       'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
       'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery',
       'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
       'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo',
       'Cricket', 'Ice Hockey', 'Racquets', 'Motorboating', 'Croquet',
       'Figure Skating', 'Jeu De Paume', 'Roque', 'Basque Pelota',
       'Alpinism', 'Aeronautics'], dtype=object)

In [79]:
list = summer_data["Sport"].unique()

In [83]:
for a in list:
    try:
        Judo_F = summer_data[(summer_data["Sport"] == f'{a}') & (summer_data["Sex"] == "M")]
        Judo_F = Judo_F[["Age", "Height", "Weight", "Medal"]]
        Judo_F = Judo_F.dropna(subset=['Height', 'Weight']).reset_index(drop = True)
        Judo_F = Judo_F.replace("Gold", 1)
        Judo_F = Judo_F.replace("Silver", 1)
        Judo_F = Judo_F.replace("Bronze", 1)
        Judo_F["Medal"] = Judo_F["Medal"].fillna(0)
        Judo_F = Judo_F.dropna()
        Judo_F["Medal"].unique()
        X1 = Judo_F[['Height', "Weight", "Age"]] 
        print(X1.shape) 
        y1 = Judo_F['Medal'] 
        print(y1.shape)
        print(a)

        from sklearn.model_selection import train_test_split

        X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=42)
        from sklearn.linear_model import LogisticRegression 
        classifier = LogisticRegression() 
        classifier

        classifier.fit(X1_train, y1_train)

        print(f"Training Data Score: {classifier.score(X1_train, y1_train)}") 
        print(f"Testing Data Score: {classifier.score(X1_test, y1_test)}")

        predictions = classifier.predict(X1_test)

        pd.DataFrame({"Prediction": predictions, "Actual": y1_test})
        print("----------------------------------------------------")
    except:
        print("An exception occurred")
        print("----------------------------------------------------")

(2461, 3)
(2461,)
Basketball
Training Data Score: 0.7550135501355013
Testing Data Score: 0.737012987012987
----------------------------------------------------
(2369, 3)
(2369,)
Judo
Training Data Score: 0.8552927927927928
Testing Data Score: 0.8600337268128162
----------------------------------------------------
(3459, 3)
(3459,)
Football
Training Data Score: 0.776792598303778
Testing Data Score: 0.7641618497109827
----------------------------------------------------
(20, 3)
(20,)
Tug-Of-War
Training Data Score: 0.8666666666666667
Testing Data Score: 0.6
----------------------------------------------------
(21391, 3)
(21391,)
Athletics
Training Data Score: 0.8901701676743751
Testing Data Score: 0.8790201944652206
----------------------------------------------------
(10321, 3)
(10321,)
Swimming
Training Data Score: 0.8717054263565891
Testing Data Score: 0.8736923672994963
----------------------------------------------------
(702, 3)
(702,)
Badminton
Training Data Score: 0.8821292775665399
Testing Data Score: 0.8920454545454546
----------------------------------------------------
(3992, 3)
(3992,)
Sailing
Training Data Score: 0.8617234468937875
Testing Data Score: 0.8617234468937875
----------------------------------------------------
(10696, 3)
(10696,)
Gymnastics
Training Data Score: 0.9396659187235104
Testing Data Score: 0.9367988032909499
----------------------------------------------------
(28, 3)
(28,)
Art Competitions
Training Data Score: 0.9047619047619048
Testing Data Score: 1.0
----------------------------------------------------
(2036, 3)
(2036,)
Handball
Training Data Score: 0.7531106745252129
Testing Data Score: 0.7229862475442044
----------------------------------------------------
(2514, 3)
(2514,)
Weightlifting
Training Data Score: 0.830238726790451
Testing Data Score: 0.8298887122416534
----------------------------------------------------
(4883, 3)
(4883,)
Wrestling
Training Data Score: 0.8156744948115784
Testing Data Score: 0.8165438165438166
----------------------------------------------------
(2231, 3)
(2231,)
Water Polo
Training Data Score: 0.7423789599521817
Testing Data Score: 0.7455197132616488
----------------------------------------------------
(2874, 3)
(2874,)
Hockey
Training Data Score: 0.748491879350348
Testing Data Score: 0.760778859527121
----------------------------------------------------
(5667, 3)
(5667,)
Rowing
Training Data Score: 0.7531764705882353
Testing Data Score: 0.7551164431898377
----------------------------------------------------
(4763, 3)
(4763,)
Fencing
Training Data Score: 0.8331466965285554
Testing Data Score: 0.8429890848026869
----------------------------------------------------
(3400, 3)
(3400,)
Equestrianism
Training Data Score: 0.855686274509804
Testing Data Score: 0.8788235294117647
----------------------------------------------------
(5596, 3)
(5596,)
Shooting
Training Data Score: 0.9306647605432452
Testing Data Score: 0.9242315939957112
----------------------------------------------------
(4304, 3)
(4304,)
Boxing
Training Data Score: 0.8379801734820322
Testing Data Score: 0.8494423791821561
----------------------------------------------------
(306, 3)
(306,)
Taekwondo
Training Data Score: 0.759825327510917
Testing Data Score: 0.7662337662337663
----------------------------------------------------
(6437, 3)
(6437,)
Cycling
Training Data Score: 0.9011808576755749
Testing Data Score: 0.8807453416149068
----------------------------------------------------
(1043, 3)
(1043,)
Diving
Training Data Score: 0.8465473145780051
Testing Data Score: 0.8582375478927203
----------------------------------------------------
(4270, 3)
(4270,)
Canoeing
Training Data Score: 0.8251093066833229
Testing Data Score: 0.8033707865168539
----------------------------------------------------
(1044, 3)
(1044,)
Tennis
Training Data Score: 0.9246487867177522
Testing Data Score: 0.8850574712643678
----------------------------------------------------
(1095, 3)
(1095,)
Modern Pentathlon
Training Data Score: 0.8745432399512789
Testing Data Score: 0.8722627737226277
----------------------------------------------------
(53, 3)
(53,)
Golf
Training Data Score: 1.0
Testing Data Score: 0.8571428571428571
----------------------------------------------------
(0, 3)
(0,)
Softball
An exception occurred
----------------------------------------------------
(1000, 3)
(1000,)
Archery
Training Data Score: 0.892
Testing Data Score: 0.9
----------------------------------------------------
(1782, 3)
(1782,)
Volleyball
Training Data Score: 0.7357784431137725
Testing Data Score: 0.679372197309417
----------------------------------------------------
(0, 3)
(0,)
Synchronized Swimming
An exception occurred
----------------------------------------------------
(927, 3)
(927,)
Table Tennis
Training Data Score: 0.9064748201438849
Testing Data Score: 0.9224137931034483
----------------------------------------------------
(846, 3)
(846,)
Baseball
Training Data Score: 0.6072555205047319
Testing Data Score: 0.6037735849056604
----------------------------------------------------
(0, 3)
(0,)
Rhythmic Gymnastics
An exception occurred
----------------------------------------------------
(151, 3)
(151,)
Rugby Sevens
Training Data Score: 0.7787610619469026
Testing Data Score: 0.6578947368421053
----------------------------------------------------
(74, 3)
(74,)
Trampolining
Training Data Score: 0.7454545454545455
Testing Data Score: 0.9473684210526315
----------------------------------------------------
(273, 3)
(273,)
Beach Volleyball
Training Data Score: 0.8676470588235294
Testing Data Score: 0.9130434782608695
----------------------------------------------------
(265, 3)
(265,)
Triathlon
Training Data Score: 0.9545454545454546
Testing Data Score: 0.9104477611940298
----------------------------------------------------
(30, 3)
(30,)
Rugby
An exception occurred
----------------------------------------------------
(2, 3)
(2,)
Lacrosse
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Polo
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Cricket
An exception occurred
----------------------------------------------------
(18, 3)
(18,)
Ice Hockey
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Racquets
An exception occurred
----------------------------------------------------
(1, 3)
(1,)
Motorboating
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Croquet
An exception occurred
----------------------------------------------------
(1, 3)
(1,)
Figure Skating
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Jeu De Paume
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Roque
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Basque Pelota
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Alpinism
An exception occurred
----------------------------------------------------
(0, 3)
(0,)
Aeronautics
An exception occurred
----------------------------------------------------

In [ ]:
Gymnastics_M = summer_data[(summer_data["Sport"] == "Gymnastics") & (summer_data["Sex"] == "M")]
Gymnastics_M

In [ ]:
Gymnastics_M = Gymnastics_M[["Age", "Height", "Weight", "Medal"]]
Gymnastics_M = Gymnastics_M.dropna(subset=['Height', 'Weight']).reset_index(drop = True)
Gymnastics_M

In [ ]:
Gymnastics_M = Gymnastics_M.replace("Gold", 1)
Gymnastics_M = Gymnastics_M.replace("Silver", 1)
Gymnastics_M = Gymnastics_M.replace("Bronze", 1)
Gymnastics_M["Medal"] = Gymnastics_M["Medal"].fillna(0)
Gymnastics_M = Gymnastics_M.dropna()
Gymnastics_M

In [ ]:
Gymnastics_M["Medal"].unique()

In [ ]:


X = Gymnastics_M[['Height', "Weight", "Age"]] 
print(X.shape) 
y = Gymnastics_M['Medal'] 
print(y.shape)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression() 
classifier

classifier.fit(X_train, y_train)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}") 
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

predictions = classifier.predict(X_test)

pd.DataFrame({"Prediction": predictions, "Actual": y_test})

# RandomForest

In [ ]:
from sklearn import tree

In [ ]:
Gymnastics_M.head()

In [ ]:
target = Gymnastics_M["Medal"]
target_names = ["Medals", "None"]

In [ ]:
data = Gymnastics_M.drop("Medal", axis=1)
feature_names = data.columns
data.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [ ]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

In [ ]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
Gymnastics_M.head()

In [ ]:
y = Gymnastics_M["Medal"]
target_names = ["Medals", "None"]

In [ ]:
X = Gymnastics_M.drop("Medal", axis=1)
X.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

In [ ]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
train_scores = []
test_scores = []
for k in range(11, 47, 6):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled, y_train)
    train_score = knn.score(X_train_scaled, y_train)
    test_score = knn.score(X_test_scaled, y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")
    
    
plt.plot(range(11, 47, 6), train_scores, marker='o')
plt.plot(range(11, 47, 6), test_scores, marker="x")
plt.xlabel("k neighbors")
plt.ylabel("Testing accuracy Score")
plt.show()

In [ ]:
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(X_train_scaled, y_train)
print('k=13 Test Acc: %.3f' % knn.score(X_test_scaled, y_test))

# SVM

In [ ]:
df1 = summer_data[(summer_data["Sport"] == "Gymnastics") & (summer_data["Sex"] == "M")]
df1 = df1[["Age", "Height", "Weight", "Medal"]]
df1 = df1.dropna()
df1 = df1.reset_index(drop = True)
df1.head()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
target = df1["Medal"]
target_names = ["Gold", "Silver", "Bronze"]

In [ ]:
data = df1.drop("Medal", axis=1)
feature_names = data.columns
data.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [ ]:
from sklearn.svm import SVC 
model = SVC(kernel='rbf')
model.fit(X_train, y_train)

In [ ]:
print('Test Acc: %.3f' % model.score(X_test, y_test))

In [ ]:
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))