In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from sklearn.svm import SVC

In [20]:
athlete_events = pd.read_csv('../CSV for ML models/athlete_events.csv')
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [21]:
filter_data = athlete_events[["Sex", "Age", "Height", "Weight", "Team", "Year", "Season", "Sport", "Event", "Medal"]]

In [22]:
winter_data = filter_data[filter_data["Season"] == "Winter"]
winter_data.head()

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
4,F,21.0,185.0,82.0,Netherlands,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
5,F,21.0,185.0,82.0,Netherlands,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,F,25.0,185.0,82.0,Netherlands,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN
7,F,25.0,185.0,82.0,Netherlands,1992,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,F,27.0,185.0,82.0,Netherlands,1994,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN

In [23]:
summer_data = filter_data[(filter_data["Season"] == "Summer")]
summer_data.head()

,Sex,Age,Height,Weight,Team,Year,Season,Sport,Event,Medal
0,M,24.0,180.0,80.0,China,1992,Summer,Basketball,Basketball Men's Basketball,NaN
1,M,23.0,170.0,60.0,China,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN
2,M,24.0,NaN,NaN,Denmark,1920,Summer,Football,Football Men's Football,NaN
3,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,F,18.0,168.0,NaN,Netherlands,1932,Summer,Athletics,Athletics Women's 100 metres,NaN

In [24]:
summer_sports = summer_data["Sport"].unique()
winter_sports = winter_data['Sport'].unique()

In [25]:
df1 = summer_data[(summer_data["Sport"] == "Gymnastics") & (summer_data["Sex"] == "M")]
df1 = df1[["Age", "Height", "Weight", "Medal"]]
df1 = df1.dropna()
df1 = df1.reset_index(drop = True)
df1.head()

    Age  Height  Weight   Medal
0  28.0   175.0    64.0  Bronze
1  28.0   175.0    64.0    Gold
2  28.0   175.0    64.0    Gold
3  28.0   175.0    64.0    Gold
4  32.0   175.0    64.0  Bronze

In [26]:
target = df1["Medal"]
target_names = ["Gold", "Silver", "Bronze"]

In [27]:
data = df1.drop("Medal", axis=1)
feature_names = data.columns
data.head()

    Age  Height  Weight
0  28.0   175.0    64.0
1  28.0   175.0    64.0
2  28.0   175.0    64.0
3  28.0   175.0    64.0
4  32.0   175.0    64.0

In [28]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [29]:
model = SVC(kernel='rbf')
model.fit(X_train, y_train)

SVC()

In [30]:
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.360

In [31]:
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

        Gold       0.36      0.95      0.52        56
      Silver       0.35      0.10      0.15        62
      Bronze       0.00      0.00      0.00        46

    accuracy                           0.36       164
   macro avg       0.24      0.35      0.22       164
weighted avg       0.26      0.36      0.24       164

C:\Users\onlyd\AppData\Local\Continuum\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))