In [1]:
import pandas as pd

### Importing 'athlete_events.csv'

In [2]:
athlete_events = pd.read_csv('athlete_events.csv')

In [3]:
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Importing 'noc_regions.csv'

In [4]:
noc_regions = pd.read_csv('noc_regions.csv')

In [5]:
noc_regions.head()

   NOC      Country                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

### Combining the two dataframes

In [6]:
combined_df = pd.merge(athlete_events, noc_regions, on="NOC", how="left")

In [7]:
combined_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [9]:
combined_df.loc[combined_df["Country"].isnull(), ["NOC","Team","Country"]].drop_duplicates()

        NOC                      Team Country
578     SGP                 Singapore     NaN
6267    ROT  Refugee Olympic Athletes     NaN
44376   SGP              June Climene     NaN
61080   UNK                   Unknown     NaN
64674   TUV                    Tuvalu     NaN
80986   SGP                   Rika II     NaN
108582  SGP               Singapore-2     NaN
235895  SGP               Singapore-1     NaN

In [10]:
combined_df.loc[combined_df["NOC"]=="SGP", "Country"] = "Singapore"
combined_df.loc[combined_df["NOC"]=="ROT", "Country"] = "Refugee Olympic Athletes"
combined_df.loc[combined_df["NOC"]=="UNK", "Country"] = "Unknown"
combined_df.loc[combined_df["NOC"]=="TUV", "Country"] = "Tuvalu"

In [11]:
olympics_df = combined_df[["ID", "Name", "Sex", "Age", "Height", "Weight", "Country",\
                          "NOC", "Games", "Year", "Season", "City", "Sport", "Event","Medal"]].copy()

In [12]:
olympics_df.head()

,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

#### Data cleaning for import in db

In [13]:
olympics_df.loc[250017,"Name"]

'Besarion "Besik\'" Vardzelashvili'

In [14]:
olympics_df.loc[250017,"Name"] = olympics_df.loc[250017,"Name"].\
replace('Besarion "Besik\'" Vardzelashvili', 'Besarion "Besik" Vardzelashvili')

In [15]:
olympics_df.loc[250017,"Name"]

'Besarion "Besik" Vardzelashvili'

In [16]:
olympics_df.to_csv('olympics_data.csv')